<!--se puede color el color en el codigo de clases de toolbar pero no me deja colocarlo-->
<mat-toolbar class="border-b-2 border-cyan-300 rounded-sm">
    <button mat-icon-button color="primary" (click)="drawer.toggle()" >
        <mat-icon >menu</mat-icon>
    </button>
    <span class="flex-auto"></span>
    <div class=" relative">
        <div class="p-1 bg-white rounded-full focus:outline-none focus:ring">
            <img class="w-8 h-8 rounded-full" src="https://laravelui.spruko.com/tailwind/ynex/build/assets/images/faces/9.jpg" alt=""/>
            <div class="top-0 left-7 absolute w-3 h-3 bg-lime-400 border-2 border-white rounded-full animate-ping"></div>
            <div class="top-0 left-7 absolute w-3 h-3 bg-lime-500 border-2 border-white rounded-full"></div>
        </div>
    </div>
    <div class="p-2 md:block text-left items-center">
        <span class="text-sm font-bold text-gray-300 cursor-pointer">Raul Perez Mesa</span>
        <p class="text-xs text-gray-300 cursor-pointer text-center">Administrador</p>
    </div>
  </mat-toolbar>
    <mat-drawer-container autosize >
    <mat-drawer #drawer opened="false" mode="side" > <!---hay varios  estados del toggle de comandos para integrar push, side,over , y las posiciones de control de la barra lateral del componente-->
        <mat-nav-list>
            <span class="ml-2  text-white">Control Acceso</span>
            <mat-list >
                <button mat-button  routerLink="dashboard" > <mat-icon>home</mat-icon>Inicio</button>
            </mat-list>
            <mat-list>
                <button mat-button  routerLink="entradas"> <mat-icon>person</mat-icon>Entrada Personal</button>
            </mat-list>
            <mat-list>
                <button mat-button routerLink="salidas"> <mat-icon>group</mat-icon>Salida Personal</button>
            </mat-list>
            <span class="ml-2  text-white">Control Session</span>
            <mat-list>
                <button mat-button routerLink="login"> <mat-icon>logout</mat-icon>Cerrar Session</button>
            </mat-list>
        </mat-nav-list>
    </mat-drawer> 
    <mat-drawer-content>
        <div class=" min-h-screen">
            <router-outlet></router-outlet> 
        </div>
    </mat-drawer-content>
    </mat-drawer-container>


